{% load forme %}

{# Binding of Django forms attributes to Forme. #}
{% comment %}
Template for rendering whole forms (without <form></form>)

Context:
 - form: Actual rendered form
{% endcomment %}
{% forme using %}
  {% comment %}
  Template for rendering hidden fields.

  Context:
   - form: Actual rendered form
   - hidden_fields: Alias to form.hidden_fields
  {% endcomment %}
  {% hiddenfields using %}
    {% for field in hidden_fields %}
      {{ field }}
    {% endfor %}
  {% endhiddenfields %}

  {% comment %}
  Template for rendering non-field errors.

  Context:
   - form: Actual rendered form
   - non_field_errors: Alias to form.non_field_errors
  {% endcomment %}
  {% nonfielderrors using %}{{ non_field_errors }}{% endnonfielderrors %}

  {% comment %}
  Template for rendering set of fields.

  Context:
   - form: Actual rendered form
   - fields: Set of fields to be rendered.
  {% endcomment %}
  {% fieldset using %}{% endfieldset %}

  {% comment %}
  Template for rendering single form row (label + field).

  Context:
   - form: Actual rendered form
   - fields: Set of fields in rendered fieldset.
   - field: Actual field to be rendered.
  {% endcomment %}
  {% row using %}{% endrow %}

  {% comment %}
  Template for rendering field errors.

  Context:
   - form: Actual rendered form
   - fields: Set of fields in rendered fieldset.
   - field: Actual field to be rendered.
   - errors: Alias to field.errors
  {% endcomment %}
  {% errors using %}{{ errors }}{% enderrors %}

  {% comment %}
  Template for rendering field label.

  Context:
   - form: Actual rendered form
   - fields: Set of fields in rendered fieldset.
   - field: Actual field to be rendered.
   - label: Label object with attributes - id, tag, label.
  {% endcomment %}
  {% label using %}{{ label }}{% endlabel %}

  {% comment %}
  Template for rendering field.

  Context:
   - form: Actual rendered form
   - fields: Set of fields in rendered fieldset.
   - field: Actual field to be rendered.
  {% endcomment %}
  {% field using %}{{ field }}{% endfield %}
{% endforme %}
